body {
  margin: 0;
  padding: 0;
}

.content {
  max-width: 70vw;
  min-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: 'Courier New', Courier, monospace;
}

.links-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
}


.links-bar img:hover {
  border-top: 6px solid aqua;
  /* border-radius: 12px; */
}

.contacts-address {
  font-size: 1em;
}

.bio-text {
  /* font-family: 'Times New Roman', Times, serif; */
  text-align: center;
}

.page-heading {
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  /* position: fixed; */
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(239, 237, 237);
  color: white;
  text-align: center;
  margin-top: auto;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}


.technologies .tech-icons img:hover{
  background-color: greenyellow;
  border-radius: 12px;
}



/* section {
  min-height: 100vh;
} */

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.875rem 0;
  background-color: var(--bg-color);
}
.projects-nist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.875rem 0;
  background-color: var(--bg-color);
}
.projects-academic {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.875rem 0;
  background-color: var(--bg-color);
}
.projects-personal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.875rem 0;
  background-color: var(--bg-color);
}

.project-heading {
  display: grid;
  place-items: center;
  padding: 1.875rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--txt-color);
}

/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  gap: 1.75rem;
  align-items: start;
}

.card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  /* border-radius: 12px; */
}

.card__cover {
  /* width: 100%; */
  /* max-height: 330px; */
  width: 460px;
  height: 360px;
  /* background-color: rgb(146, 210, 242); */
}

.card__cover img {
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
  /* max-height: 330px;
  max-width: 460px; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card__content {
  padding: 1.25rem;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card__content p {
  text-indent: 1ch;
  height: 6.25rem;
  /* width: 15.625rem; */
  width: 440px;
}

.cardBtn {
  width: 100%;
  border-width: 0.063rem;
  border-style: solid;
  border-color: #7b3fe4;
  background: white;
  border-radius: 0.313rem;
  padding: .5rem;
}

.cardBtn:hover {
  background: #7b3fe4;
  color: white;
}